*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 148px;
    z-index: 2;
}

.logo{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


.nav__list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav__item{
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
}

.nav__link{
    font-size:18px;
    font-weight: 300;
    color:#fff;
    text-decoration: none;
    padding:20px 0px;
    display: inline-block;
    position: relative;
}

.nav__link::before {
    transition: 300ms;
    height: 6px;
    content: "";
    position: absolute;
    background-color:#fff;
}

.nav__link::before {
    width: 0%;
    bottom: 1px;
}
  
.nav__link:hover::before {
    width: 100%;
}


.contact{
    font-size: 18px;
    font-weight: bold;
}





.banner{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-image: url(/siw/images/banner.jpg);
    background-position: center;

}

.banner__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__title{
    font-size: 70px;
    font-weight: 600;
    margin-top: 70px;
}


.banner__search{
    width: 80%;
    height: 150px;
    background-color: rgba(255,255,255,0.26);
    margin: 100px 0px;
    border-radius: 12px;
    padding: 47px 61px 59px 61px;
}


.banner_search_elements{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: #FFFFFF;
    padding: 18px 83px 18px 67px;
}

.banner_search_elements input{
    width: 50%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 17px;
    font-size: 14px;
    font-weight: 500;
    background-color: #f2f5f6;
    margin-right: 10px;
}

.banner_search_elements ::placeholder{
    color: #72728c;
}

.search_btn{
    width: 40%;
    height: 52px;
    background: #181818;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}