body{
    background-color: rgb(248,231,86);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo{
    display: flex;
    justify-content: center;
}

.todo_title{
    color: black;
    text-align: center;
    margin-top: 50px;
}

.todo_input{
    font-size: 16px;
    padding: 10px;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
}

/* .todo_input:focus {
    outline: none;
} */

button{
    color:white;
    background-color: rgb(54, 194, 180);
    padding: 10px;
    border:none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    /* box-shadow: 0 4px #ccc; */
}


/* .add-btn:hover{
    background-color:  rgb(54, 194, 180)
}

.add-btn:active {
    background-color: rgb(54, 194, 180);
    box-shadow: 0 2px rgb(114, 113, 113);
    transform: translateY(4px);
} */

.delete-btn{
    width: 60px;
    height: 40px;
    background-color: red;
    text-align: center;
    
}

ul li{
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    padding: 10px;
    margin-top: 10px;
}
