footer{
    width: 100%;
    height: 70vh;
}

.footer-area{
    padding-top: 100px;
    background-color: #222;
}

.footer-info h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

.footer-info p{
    color: #777;
}

.footer-info h6{
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}


.footer-bottom{
    padding:20px;
}

.form-control{
    border: none;
    width: 80%;
    font-weight: 300;
    background: #191919;
    color: #777;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    padding: 20px 18px;
}

.click-btn{
    background-image: -webkit-linear-gradient(90deg, #f45622 0%, #f53e54 100%);
}

.signup-form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}