body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 142);
}

h1{
    font-family: fantasy;
    text-align: center;
}

.container{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
}

.container div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border: 0.5px solid;
    border-radius: 4px;
}

.container .large-item{
    font-size: 80px;
    grid-row: 1/3;
    grid-column: 1/3;
}
