.footer{
    color:#fff;
    width: 100%;
    height: 80vh;
    background-image: url(/siw1/images/footer.jpg);
    background-position: 30% 70%;
    padding: 100px;
    box-sizing: border-box;
}

.footer__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__name{
    text-align: center;
}

.footer-title{
    font-size: 36px;
    font-weight: 400;
}

.footer-subtitle{
    font-size: 18px;
    margin-top: 18px;
    color: #a5a5a5;
}

.footer__container{
    margin-top:40px;
}

.submit__form{
    display: flex;
}

.submit__form input{
    margin-right: 20px;
}

::placeholder{
    color:#fff;
}

.submit-name{
    width: 100%;
    height: 50px;
    background: rgba(255,255,255,0.5);
    border: none;
    outline: none;
    padding-left: 22px;
    color: #FFFFFF;
}

.submit-email{
    width: 100%;
    height: 50px;
    background: rgba(255,255,255,0.5);
    border: none;
    outline: none;
    padding-left: 22px;
    padding-right: 200px;
    color: #FFFFFF;
}

.submit-btn{
    width: 170px;
    height: 50px;
    border-radius: 20px;
    background: rgba(255,255,255,0.5);
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    padding-right:20px;
    padding-left: 20px;
}

.footer__contact{
    display: flex;
    justify-content: space-around;
    margin-top:100px;

}

.footer__contact_item{
    width: 100%;
    text-align: center;
}

.footer__contact_title{
    font-size: 24px;
    margin-top:18px;
    margin-bottom:18px;
}


.footer__contact_info{
    font-size: 14px;
    text-align: center;
    color:#a5a5a5;
    list-style: none;
}



