*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.travel{
    margin: 100px 0px;
}


.travel__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:50px 0px;
}


.travel__title{
    font-size: 12px;
    color:#72728C;
    text-align: center;
    margin:20px 0px;
}


.travel__subtitle{
    font-size: 40px;
    text-align: center;
}


.place{
    display: flex;
    flex-direction: column;
    padding: 30px;
}


.travel__places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.place-title{
    font-size: 30px;
    color:#181818;
    font-weight: 400;
    padding: 10px 0px;
}


.place-subtitle{
    font-size: 14px;
    color:#72728c;
    padding: 10px 0px;
}


.place-price{
    font-size: 16px;
    color:#181818;
    font-weight: 800;
    padding: 10px 0px;
}