body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 146);
}

h1{
    font-family: fantasy;
    text-align: center;
}

.container{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
}

.container div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border: 0.5px solid;
    border-radius: 4px;
}

.container .large-item{
    font-size: 80px;
    grid-row: 1/3;
    grid-column: 1/3;
    /* grid-row: span 2; */
    /* grid-column: span 2; */
}

.change-btn{
    width: 100px;
    height: 50px;
    background-color: rgb(66, 177, 177);
    color: rgb(211, 60, 34);
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    margin: 60px;
}