body{
    background-color:#e8fafe;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main{
    position: absolute;
    left: 25em;
    right:25em;
    width: 600px;
    height: 750px;
    background-image: url(images/background.jpg);
    /* margin:auto; */
    padding:20px;
}

.avatar{
    width: 140px;
    height: 140px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    border-radius: 50%;
}
