.about{
    width: 100%;
    height: 60vh;
    color: #fff;
    background-image: url(images/about.jpg);
    background-position: center;

}

.about__title{
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    margin-top: 70px;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.aboutus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

.about__info{
    margin:50px 0px;
}

.about__title{
    font-size: 12px;
    color:#72728C;
    text-align: center;
    margin:20px 0px;
}

.about__subtitle{
    font-size: 40px;
    text-align: center;
}

.main{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.about__main{
    width: 40%;
    height: 40%;
    padding: 50px;
}

.about__title{
    color:#fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.66;
}

.about-text{
    margin-top:30px;
    color: #72728c;
    font-size: 14px;
    line-height: 2;
}

.about-btn{
    color:#fff;
    margin-top:50px;
    width: 161px;
    height: 52px;
    background: rgba(24,24,24,1);
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.about__photo{
    width: 400px;
    height: 400px;
    /* margin-right: 80px; */
}

.photo{
    width:500px;
    height: 400px;
}