*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.travel{
    margin: 100px 0px;
}

.travel__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:50px 0px;
}

.travel__title{
    font-size: 12px;
    color:#72728C;
    text-align: center;
    margin:20px 0px;
}

.travel__subtitle{
    font-size: 40px;
    text-align: center;
}

.place{
    display: flex;
    flex-direction: column;
    margin:10px;

}

.travel__places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

